body{
    background-image: url(portfolio/IMG_3854.jpg);
    background-size: cover;
    background-position: center center;
}

hr{
    background: ivory;
}

.contact-form{
    background: rgba(0,0,0,.6);
    color: ivory;
    margin-top: 100px;
    padding: 20px;
    box-shadow: 0px 0px 10px;
}