
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 30vh;
  /* background: sienna; */
}
  
.face {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: gold;
  display: flex;
  justify-content: center;
  align-items: center;
  }

.face::before {
  content: '';
  position: absolute;
  top: 110px;
  width: 100px;
  height: 50px;
  background: sandybrown;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
  transition: 0.5s;
}

.face:hover::before {
  top: 100px;
  width: 80px;
  height: 20px;
  background: sandybrown;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}
  
.eyes {
  position: relative;
  top: -20px;
  display: flex;
}  

.eyes .eye {
  position: relative;
  width: 50px;
  height: 50px;
  display: block;
  background: white;
  margin: 0 15px;
  border-radius: 50%;
}

.eyes .eye::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 25px;
  transform: translate (-50%, -50%);
  width: 20px;
  height: 20px;
  background: black;
  border-radius: 50%;
}

li {
  list-style-type: none;
}

.hide {
  display: none;
}

.callout.large {
  background-color: coral;
}